@import url('http://fonts.cdnfonts.com/css/montserrat');

$blue: #04D282;
$blue-dark: #00ECDE;
$bg: #F3F3F5;
$white: white;
$grey: rgb(34, 26, 26);
$grey-light: #535353;
$grey-dark: #484C55;
$black: #202022;
$orange: #f47032;

@keyframes greeen {
    0% {
     // transform:scaleX(0);
     width: 120px;
    }

    100% {
       // transform:scaleX(1);
       width: 50px;
    }
    }

@keyframes entrance {
        0% {
         opacity: 0;
        }

        100% {
            opacity: 1;;

        }
}



@keyframes move {
            0% {
              transform:scaleX(0);
            }

            100% {
                transform:scaleX(1);

            }
}



@mixin flex($flex-direction: row){
    display: flex;
    flex-direction: $flex-direction ;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

@mixin link($bdC:$blue, $bgC: $blue){
    height: 40px;
    width: auto;
    padding-left: 10px;
    padding-top: 5px;
    font-weight: bold;
    padding-right: 10px;
    border-radius: 5px;
    border: 1px solid;
    border-color: $bdC;
    color: $white;
    background-color: $blue;
    cursor: pointer;
}

@mixin title{
    color: $blue;
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
}



@mixin button{
    background-color: $blue;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    height: 35px;
    width: auto;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

@mixin input{
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding-left: 10px;
    color: rgb(26, 21, 21);
}

@mixin select{
    border: 1px solid;
    border-radius: 5px;
}

html, body{
    box-sizing: border-box;
    line-height: 1.5em;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
}

.active{
    display: none;
}

.currencies{
    @include flex();
    justify-content: start;
    width: 230px;
    margin: 10px auto 0 auto;

    .currency{
        @include flex();
        span{
            color: $black;
        }
            img{
                width: 25px;
                height: 15px;
                margin: 8px auto auto 5px;
            }

    }
}

.text{
    color: grey;
    font-size: 1em;
    font-weight: 500;
}

.text-white{
    color: $white;
}

.text-justify{
    text-align: justify;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    font-weight: bold;
}

.btn-primary{
    margin: 5px;
    width: auto;
    background-color: $blue;
    border: $blue;
        color: $white;
        font-weight: bold;
}

.btn-primary:hover{
        color: $white;
        text-decoration: none;
        background-color: $blue-dark;
        border: $blue-dark;
}

    .subtitle{
        color: $blue;
        font-size: 1.8em;
        text-align: center;
        margin: auto;
    }

a{
    text-decoration: none;
}

a:hover{
    color: $blue;
}

h1, h2{
    color: $blue;
}

.link{
    @include link;
    transition: 500ms ease-in-out;
}

.link a{
    color: white;
}

.link:hover{
    transform: scale(1);
    background-color: $blue-dark;
}

span{
    font-weight: bold;
    color: $blue;
}

.blue{
    color: $blue;
}

.form{
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 12px #00000029;
    padding: 5px;

    h1,
    h2{
        color: $blue;
    }

    span{
        cursor: pointer;
    }

    img{
        width: 40px;
        height: 30px;
    }

    .flag{
        width: 25px;
        height: 15px;
    }

    .label1{
        position: relative;
        .input{
            width: 120px;
            color: $blue
        }

        .currency-gh{
            position: absolute;
            top: 32px;
            left: 125px;
            width: 100%;
            color: $blue;
            font-weight: bold;
        }

        .currency-usd{
            position: absolute;
            top: 35px;
            left: 220px;
            font-weight: bold;
            width: 100%;
            color: $blue
        }
    }

}

.hero{
    height: auto;
    min-height: 90vh;
    margin: 0 auto;
    display: block;
    background-image: linear-gradient(to bottom, rgba(108, 148, 113, 0),
     rgba(12, 102, 33, 0.5)), url('http://127.0.0.1/rn2/resources/img/money.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 50px;


    &__content{
        width: 80%;
        margin: auto;
        height: 100%;
        padding-top: 110px;
        text-align: center;

        h1{
            font-size: 3em;
            font-style: italic;
            color: white;
        }

        .text{
            margin: 60px auto;
            font-style: 1.8em;
            font-weight: 800;

        }

        &__buttons{
            width: 340px;
            margin: 30px auto;

            .btn{

            }
        }
    }
}

.testimonials{
    height: auto;
    width: 100%;
    min-height: 350px;
    background-color: #ddd;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    &__top{
        display: block;
    }

    .testimony{
        width: 99%;
        background: rgba(0, 0, 0, 0.4);
        @include flex();
        flex-direction: row;
        border: 6px solid $white;

        img{
            width: 140px;
            height: 110px;
            margin: 50px auto auto 5px;
            border-color: $white;
        }

        .testimony__text{
            color: $white;
            width: 75%;
            float: right;
            span{
                font-weight: bold;
            }

            strong{
                font-style: italic;
            }

            .text{

            }
        }
    }
}

.services{
    @include flex();
    padding-left: 15px;
    padding-right: 10px;
    text-align: center;



   &__list{
    .service{
        text-align: center;
        i{
            color: $orange;
            font-size: 2.2em;
            margin: auto;
        }

        h3{
            font-size: 1.3em;
        }
    }
   }
}


.dashboard{

    &__menu{
        background-color: $grey-light;
        height: 80vh;

       .menu{
        &__icon{
            text-align: center;
            height: 60px;
            padding-top: 10px;
            display: none;

            i{
                color: $blue;
                font-size: 1.9em;
                font-weight: bold;
                text-align: center;
                margin: auto;
                cursor: pointer;
            }

            i:hover{
                color: $blue-dark;
                font-size: larger;
                font-weight: bolder;
            }
        }

        &__items{
            ul{
                li{
                    margin: 15px auto;
                    text-align: center;
                    a{
                            color: $white;
                            text-align: left;
                            width: 200px;
                            border: none;
                            background-color: $grey-light;

                            i{
                                margin-right: 10px;
                            }
                        }
                    }

                    .active{
                        background-color: $blue-dark;
                    }

                    a:hover{
                        background-color: $blue;
                    }
            }
        }
       }
    }

    &__content{
        .text-bold{
            color: $grey-light;
            font-style: italic;
            font-size: 0.8em;
            font-weight: 500    ;
        }
       .container{
            .card{
                .card-img-top{
                    width: 100%;
                    text-align: center;

                    i{
                        font-size: 2.7em;
                        margin: 10px  auto;
                        color: $blue;
                    }

                    img{
                        width: 60px;
                        height: 60px;
                        margin: 5px auto;
                    }
                }

                .card-body{
                    .card-title{
                        font-weight: bold;
                        text-align: center;
                        font-size: 1.7em;
                    }

                    .card-text{
                        width: 80%;
                        margin: auto;


                        &__top{

                            strong{
                                font-size: 1.2em;
                                font-weight: bold;
                                color: $black;
                                text-align: center;
                                float: left;
                            }
                            button{
                                float: right;
                                color: $white;

                                i{
                                    color: $white;
                                }
                            }
                        }


                        span{
                            font-size: 0.8em;

                        }

                        img{
                            width: 15px;
                            height: 10px;
                        }

                    }



                    .buttons{
                        @include flex();
                        width: 100%;

                        .btn{
                            width: 130px;
                        }
                    }
                }



            }
       }
    }
}





.payments{
    @include flex(column);
    height: 300px;
    width: 100%;
    margin: 60px auto;



    &__items{
        text-align: center;
        @include flex;
        width: 100%;
        animation: entrance 2s ease-in-out;

        &__item{
            margin: auto;

            img{
                width: 130px;
                height: 130px;
                border-radius: 5px;
                margin: auto;
            }
        }
    }
}

.section{
    .container{
        .top{
        }

        .about{
            margin-top: 10px;

            .boxes{
               @include flex();


               .box{
                width: 220px;
                height: 120px;
                margin: 15px auto;
                color: $white;
                font-weight: bold;
                padding-top: 10px;

                .i{
                    color: $white;
                    font-weight: bold;
                    font-size: 1.8em;
                }

               }

               .green{
                background-color: green;

               }

               .orange{
                background-color: orange;
               }

               .purple{
                background-color: purple;
               }

               .wheat{
                background-color: rgb(143, 55, 55);
               }
            }
        }

        .how{
            .how-card{
                margin: auto;
                display: block;
                text-align: center;
                .number{
                    width: 80px;
                    height: 80px;
                    border-radius: 80px;
                    color: $white;
                    background-color: $blue;
                    display: table;
                    font-weight: bold;
                    margin: auto;

                    p{
                        display: table-cell;
                        vertical-align: middle;
                    }

                }
            }
        }

        .care{
            @include flex();
            margin: 10px auto;

            .card{
                flex: 1;
                margin: auto;
                @include flex;
                border: none;
                background-color: #F8F9FA;

                &__text{
                    width: 100%;
                    margin: auto;
                    &__title{
                     //   @include subtitle();
                    }

                    &__text{
                        width: 90%;
                        text-align: left;
                    }

                    .link{
                        width: 150px;
                        margin: auto;
                    }
                }

                img{
                    width: 300px;
                    height: 250px;
                    margin: auto;
                }
            }

            .card{
                animation: move 1s ease-in-out;
            }

        }

        .payments{
            @include flex();
            height: auto;
            text-align: center;
           .payment-img{
            flex: 1;
            img{
                width: 90px;
                height: 80px;
                border-radius: 40px;
                margin: auto;;
            }
           }
        }

        .contact{
            ul{
                li{

                    i{
                        color: $blue;
                        font-weight: bold;
                    }
                }
            }
        }

        .row{
            .search-icon{
                @include flex();
                text-align: left;
                width: 50px;
                margin: auto 0;

                i{
                    cursor: pointer;
                    margin-left: 12px;
                    margin-bottom: 8px;
                }

                i:hover{
                    color: $blue-dark;
                }
            }

            .search-bar{
                @include flex();
                margin: auto 15px;

                i{
                    margin: 9px auto auto 5px;
                    cursor: pointer;
                }

                i:hover{
                    color: $blue-dark;
                }


            }
        }
    }
}

.footer{
     background-color: $grey-dark;
     color: $white;
     .container{
       .row{
        h4{
            color: $blue;
        }
        ul{
            li{
                @include flex();
                margin: 10px auto;
                justify-content: flex-start;
                a{
                    color: $white;
                    i{
                        color: $white;
                    }
                }

                a:hover{
                    color: $blue;

                    i{
                        color: $blue;
                    }
                }

                .icon{
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                    text-align: center;
                    display: table;
                    background-color: $blue;
                    margin-right: 10px;

                    i{
                        color: $grey-dark;
                        display: table-cell;
                        vertical-align: middle;
                    }
                }

                p{
                    display: table-cell;
                    vertical-align: middle;
                    margin: 8px auto auto 0;
                }
            }
        }
       }
     }
}

.table{
	width: 100%;
	border-collapse: collapse;
	margin: auto 0;
	font-family: sans-serif;
}

.table td,.table th{
  padding:12px 15px;
  border:1px solid #ddd;
  text-align: center;
  font-size:16px;
}

.table th{
	background-color: $blue;
	color:#ffffff;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}

/*responsive*/
@media(max-width: 500px){
    .table{
        width: 100%;
        display: none;
    }
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}


/*responsive*/
/*
@media(min-width: 1024px) and(max-width: 1279px){
    .dashboard{
            .menu{
            &__icon{

            }


        }

        &__content{
            width: 100%;
        }
    }

*/
@media(min-width: 768px) and(max-width: 1023px){

    .dashboard{
       &__menu{
        height: auto;
        .menu{
            &__icon{
                display: block;
            }

                &__items{
                    display: none;

                    ul{
                        display: none;
                    }
                }
            }
       }

        &__content{
            width: 100%;
            padding-top: 20px;



            &__boxes{
                .box{
                    p{
                        strong{
                            font-size: 1.4em;
                        }
                    }

                    .note{
                        span{
                            font-size: 0.8em;
                        }
                    }
                }
            }

            &__infos{

            }
        }
       }


    .top{
        &__text{
            width: 85%;

            &__title{
                font-size: 1.9em;
            }
        }
    }
    .about{
        width: 95%;
        margin: 20px auto;
        &__item{

            &__boxes{
                width: 90%;

                .box{
                    width: 130px;
                    height: 80px;
                }
            }

        }

    }

    .care{
        width: 95%;

        .card{
            img{
                width: 230px;
                height: 180px;
            }
        }
    }

    .payments{
        margin: 50px auto;
        height: 200px;
        &__items{
            margin: 5px auto;
            &__item{
                img{
                    width: 110px;
                    height: 110px;
                }
            }
        }
    }

    .footer{
        flex-direction: column;

    }
}

@media(min-width: 480px) and(max-width: 767px){
    .dashboard{
        &__menu{
            display: none;
        }

        &__content{
            width: 100%;
            margin: 50px auto;

            &__boxes{
                .box{
                    p{
                        strong{
                            font-size: 1.2em;
                        }
                    }

                    .note{
                        span{
                            font-size: 0.8em;
                        }
                    }
                }
            }

            &__infos{

            }
        }
    }

    .top{
        height: auto;
        margin-bottom: 5px;

        &__text{
            width: 90%;
            &__title{
                font-size: 2em;
            }

            &__text{

            }
        }
    }

    .about{
        height: auto;
        flex-direction: column-reverse;
        width: 100%;
        margin: 0 auto;

        &__item{
            &__text{
                width: 90%;
            }

            &__boxes{
                width: 70%;
                .box{
                    width: 130px;
                    height: 80px;
                    margin: 10px;
                }
            }
        }
    }

    .care{
        flex-direction: column-reverse;

        .card{

            img{
                width: 300px;
                height: 200px;
                margin: 10px auto 10px auto;
            }
        }
    }

    .payments{
        height: auto;

        &__items{
            width: 70%;
            &__item{
                img{
                    width: 90px;
                    height: 90px;
                }
            }
        }
    }
}


@media(min-width: 350px) and(max-width:479px){

.menu-mobile{
    display: block;
    background-color: #1a5486;
}
    .dashboard{
        &__menu{
            display: none;
        }

        &__content{
            width: 100%;
            margin: 30px auto;

            &__boxes{
                flex-direction: column;
                .box{
                    p{
                        strong{
                            font-size: 1em;
                        }
                    }

                    .note{
                        span{
                            font-size: 0.8em;
                        }
                    }
                }
            }

            &__graphs{
                flex-direction: column;
                .graph{
                    height: 200px;
                }
            }

            &__infos{

            }
        }
    }

     .hero{
            &__content{
                padding-top: 80px;

                h1{
                    font-size: 2.7em;
                }

                p{
                    margin: 40px auto;
                }

                &__buttons{
                    display: block;
                    flex-direction: column;
                    display: none;

                    width: 190px;
                    .btn{

                    }
                }
            }
        }


    .top{
        height: auto;
        margin-bottom: 5px;

        &__text{
            width: 90%;
            &__title{
                font-size: 1.8em;
            }

            &__subtitle{

            }

            &__text{

            }
        }
    }

    .about{
        height: auto;
        flex-direction: column-reverse;
        width: 100%;
        margin: 20px auto;

        &__item{
            margin: 15px auto;
            h2{
                font-size: 1.4em;
            }
            &__text{
                width: 90%;
            }

            &__boxes{
                width: 90%;
                .box{
                    width: 110px;
                    height: 60px;
                    margin: 10px;
                }
            }
        }
    }

    .simulator{
        h2{
            font-size: 1.4em;
        }
    }
    .care{
        flex-direction: column;
        width: 100%;
        padding: 10px 10px 20px 10px;

        .card{
            margin: 15px auto;

            &__text{
                &__title{
                    font-size: 1.4em;
                }
            }
            img{
                width: 270px;
                height: 180px;
                margin: 10px auto;
            }
        }
    }

    .reasons{
        h2{
            font-size: 1.4em;
            margin-top: 15px;
        }

        &__sections{
            width: 98%;
            &__box{

            }
        }
    }

    .payments{
        height: auto;

        h2{
            font-size: 1.4em;
        }

        &__items{
            width: 100%;
            &__item{
                img{
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }
}